/* Large screens */
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
  .copyright {
    display: block;
    margin: 0 auto;
  }
}

/* Small screens */
@media (max-width: 576px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
  .suggestion-container .row:last-child {
    display: none;
  }
}
